@import "settings";
//@import "foundation";

// Or selectively include components
 @import
   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
   "foundation/components/orbit",
//   "foundation/components/pagination",
   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";

.orbit-prev, .orbit-next {
   display: block;
}

.fullwidth{
	padding:0px;
}

$navcolor:#fff;
$disabled-navcolor:darken($navcolor,30%);
//$disabled-navcolor:desaturate(lighten($primary-color,20%),20%);
.navgroup{
//	display:inline-block;
	text-align:center;
}

.navgroup li:first-child{
	margin-left:1px ;
}
.navgroup li:not(:first-child){
//	margin-left:-4px !important;
	@media #{$medium-up} { margin-left:1rem;}
	@media #{$small-only} { margin-left:0.1rem;}
}

.navbutton{
	@include button(rem-calc(12),$navcolor,0,true,false,false);
	border:thin $hr-border-color solid;
}

.navbutton.disabled{
  cursor: $button-disabled-cursor;
  opacity: 1;
	background-color:$disabled-navcolor;
  box-shadow: none;
  &:hover,
  &:focus { background-color: $disabled-navcolor; }
}

.navbottom{
	padding-bottom:1rem;
}

.navimgbottom{
	padding-top:1rem;
	padding-bottom:1rem;
}

.navbutton.tiny{
	padding:rem-calc(10) rem-calc(6);
}

.disabled:hover{
	cursor:default;
}

.homelogo{
	text-align:center;
	a:hover:not(.disabled){
		h1{
			color:darken($disabled-navcolor,25%);
	    transition: all 0.3s ease 0s;
		}
	}
	a:not(.disabled){
		h1{
	    transition: all 0.5s ease 0s;
		}
	}
}

.disabled.homelogo{
	opacity:1;
}

.logowrapper{
//	margin:auto;
	text-align:left;
//	width:80%;
	margin-bottom:1rem;
}

.panel{border-color:$hr-border-color;}

.newslist{
	width:100%;
	td {
		color:$panel-font-color;
		&:nth-child(even){
			border-left:thin $hr-border-color solid;
		}
	}
}

.publist{
	color:$panel-font-color;
	margin-left:2rem;
	margin-top:1rem;
	li {
		line-height:1.2rem;
		text-align:justified;
	}
}

.toc{
	display:block;
	margin:0.7rem 0 1rem 0;
	padding-bottom:1rem;
	text-align:center;
	border-bottom:thin $hr-border-color solid;
	
	&:last-child{
		border-bottom:none;
	}
}

.headshot{
	text-align:center;
	
	img {
		max-height:250px;
		margin-bottom:1rem;
	}

}

#kb{
	width:15rem;
	float:left;
}

#kbname{
	width: 15rem;
	padding-left:1rem;
	border-bottom:thin $hr-border-color solid;
	height:2rem;
	margin-bottom:1rem;
	margin-left:2rem;
}

.panel .vcard{
	color:$panel-font-color;

}


.vcard{
	padding:0;
	margin-bottom:0.5rem;
	margin-top:0rem;
	margin-left:10%;
	td {
		text-align:left;
		height:$paragraph-line-height*.8;
		padding:2px 5px;
		font-size:$paragraph-font-size*0.8;
		line-height:$paragraph-line-height*.8;
		background-color:#fff;
	}
	border:none;
	border-left:thin $hr-border-color solid;
}

h5{margin-top:0.5rem;}
#researchbox{
	h4{
		margin-top:1rem;
	}
	h3{
		margin-top:0;
		margin-bottom:1rem;
	}
}

.tcard{
	@extend .vcard;	
	margin-top:0.25rem;
	margin-left:0rem;
	td{
		text-align:left;
	}
	tr:first-child>td{
		border-bottom:solid 1px black;
		padding-bottom:0px;
		font-weight:bold;
	};
}

dd.accordion-navigation{
	padding-bottom:1rem;
}

.accordion-navigation {
	padding-bottom:0.5rem !important;
	a {
		padding:0.7rem !important;
	}
  >a:after {
    content: url(toggle-off.png);
    padding-right: 5px;
    float: left;
  }
  &.active > a:after {
    content: url(toggle-on.png);
  }
}

.fig{
	display:block;
	margin:0 auto 0 auto;
}

.desc{
	text-align:justify;
	font-size:rem-calc(15);
}

.biolist .panel{
	margin-bottom:0.9rem;
}


.bigletter{
	font-size:3.75rem;
	line-height:3rem;
	font-family:Garamond,Serif;
	margin:1rem 2rem 1rem 2rem;
}

.resimg{
	@extend .medium-only-text-center;
	@media #{$large-up} { margin-top:2rem;}
	margin-bottom:1.5rem;
}

p {
	line-height:1.4;
	font-size:1rem;
}

.footer{
	@include button(rem-calc(12),$navcolor,0,true,false,false);
	text-align:center;
	border: thin $hr-border-color solid;
	line-height:2rem;
	font-size:rem-calc(18);
	a{
		color:$white;
	}
}

p,li,td{
	a{
	color:$body-font-color !important;
	text-decoration:underline;}
	
}

#membermap{
	margin-bottom:1rem;
}
