extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Jan '19
								td Welcome to our newest members, Ariel, Abby, and Maegan!
							tr
								td Dec '18
								td Congratulations to Kate on graduating!
							tr
								td July '18
								td Our NSF RUI on 
									a(href='https://www.nsf.gov/awardsearch/showAward?AWD_ID=1808073') "Boronic Ester Modified Polysaccharides for Oxidation-Responsive Delivery Applications"
									| &#32;was funded!
							tr
								td May '18
								td Aiza and Victoria graduate &ndash; Congratulations!
