extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Apr '19
								td Emily's 
									a(href='https://doi.org/10.1021/acs.biomac.9b00215') paper on spirocyclic acetalated dextran
									| &#32;has been accepted to Biomacromolecules!
							tr
								td Mar '19
								td Welcome to our newest member, Tracy!
							tr
								td Jan '19
								td Welcome to our newest members, Ariel, Abby, and Maegan!
							tr
								td Dec '18
								td Congratulations to Kate on graduating!
							tr
								td July '18
								td Our NSF RUI on 
									a(href='https://www.nsf.gov/awardsearch/showAward?AWD_ID=1808073') "Boronic Ester Modified Polysaccharides for Oxidation-Responsive Delivery Applications"
									| &#32;was funded!
