extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Spring&nbsp;'18
								td Catherine and Sherry join the group!
							tr
								td Fall&nbsp;'17
								td Amanda wins 2nd place at the next-in-BIO poster competition at WPI. Congratulations!
							tr
								td Fall&nbsp;'17
								td Victoria joins the group!
							tr
								td Spring&nbsp;'17
								td Kate and Amanda join the group!