extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	.row
		.large-12.columns
			.panel

				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td May.&nbsp;'16
								td Kristyn and Jackie graduate &ndash; congratulations!
							tr
								td Jan.&nbsp;'16
								td Annabelle and Aiza join the lab &ndash; welcome!
							tr
								td Sep.&nbsp;'15
								td Kristyn joins the lab!
							tr
								td May.&nbsp;'15
								td Areeb and Jackie join the group!
							tr
								td Jan.&nbsp;'15
								td Kyle is selected as the first recipient of the Mount Holyoke College Fund the Future Award!  
