extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Apr&nbsp;'23
								td Illia is selected as a #[a(href="https://www.beckman-foundation.org/programs/beckman-scholars/",target="_blank") Beckman Scholar] — congratulations!
							tr
								td Jan&nbsp;'23
								td Welcome to our newest members, Natalia and Mariana!
							tr
								td Sept&nbsp;'22
								td Welcome to our newest members, Illia and Ran!
							tr
								td May&nbsp;'22
								td Congratulations to Liz on graduating!