extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Jan&nbsp;'22
								td Aaditi, Echo, Reece, and Venus officially join the group. Welcome all!
							tr
								td May&nbsp;'21
								td Congratulations to Maegan on finishing her thesis earning High Honor in Chemistry!
							tr
								td May&nbsp;'21
								td Congratulations to Abby, Maegan, and Tracy for graduating!
							tr
								td Feb&nbsp;'21
								td After shutting down for nearly 10 months, lab is reopening!  
							tr
								td Jan&nbsp;'21
								td Isabela officially joins the group. Welcome!
