extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Spring&nbsp;'17
								td Kate and Amanda join the group!
							tr
								td Fall&nbsp;'16
								td Emily, Yeonsoo, and Beth join the group!
							tr
								td Summer&nbsp;'16
								td Annabelle and Aiza present their research at Brandeis University Undergraduate Science Symposium
							tr
								td Spring&nbsp;'16
								td Kristyn and Jackie graduate &ndash; congratulations!
