extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	.row
		.large-12.columns
			.panel

				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Jan.&nbsp;'16
								td Annabelle and Aiza join the lab &ndash; welcome!
							tr
								td Sep.&nbsp;'15
								td Kristyn joins the lab!
							tr
								td May.&nbsp;'15
								td Areeb and Jackie join the group!
							tr
								td Jan.&nbsp;'15
								td Kyle is selected as the first recipient of the Mount Holyoke College Fund the Future Award!  
							tr
								td Sep.&nbsp;'14
								td First equipment purchased and assembled! The lab #[a(href="http://b9creator.com", target="_blank") 3D printer] awaits its first test run.
							tr
								td July&nbsp;'14
								td Ribbon cutting ceremony for Broaders Lab! (In reality, this involved making sure the doors worked and then  dumping some boxes on the counter).