extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							
							tr
								td Jan&nbsp;'24
								td Welcome to our newest members, Max, Eliza, and Gwyn!
							tr
								td Sept&nbsp;'24
								td Welcome to our newest members, Fati and Ashh!
							tr
								td May&nbsp;'24
								td Congratulations to Echo and Mariana on their graduation and many accomplisments!