extends layout

block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Jul&nbsp;'19
								td Amanda's 
									a(href='https://doi.org/10.1021/acsabm.9b00399') paper on stable boronic esters for oxidation-triggered drug delivery
									| &#32;has been accepted to ACS Applied Bio Materials!
							tr
								td May&nbsp;'19
								td Congratulations to Emily on graduating Summa Cum Laude in Chemistry!
							tr
								td May&nbsp;'19
								td Congratulations to Amanda on graduating with High Honor in Biochemistry! 
							tr
								td Apr&nbsp;'19
								td Emily's 
									a(href='https://doi.org/10.1021/acs.biomac.9b00215') paper on spirocyclic acetalated dextran
									| &#32;has been accepted to Biomacromolecules!
