extends layout
block vars
	-var pageid = "home"

block title
	title Broaders Lab
	meta(name='description',content='Official lab website for Kyle Broaders and his lab at Mount Holyoke College in western MA.')

block content
	-var imgdir = "images/"
	.row
		.large-12.columns
			.panel
				h4 News
				.row
					.medium-11.medium-centered.columns
						table.newslist
							tr
								td Jan&nbsp;'26
								td Welcome to our newest members, Audrey, Elizabeth, and Hitomi!
							tr
								td Nov&nbsp;'25
								td 
									a(href='https://pubs.acs.org/doi/10.1021/acsomega.5c07631') Our newest paper
									is out in ACS Omega!Congrats to Liz, Abby, and Maxine
							tr
								td Sept&nbsp;'25
								td Welcome to our newest member, Emmy!
							tr
								td May&nbsp;'25
								td Congratulations to Illia, Natalia, Abby, and Ran on graduating! <br>Illia earned <em>summa cum laude</em> and Abby and Natalia both earned high honors on their theses.