extends layout

block vars
	-var pageid = "kb"

block title
	title Kyle Broaders
	meta(name='description',content='A short biography of the principal investigator of the Broaders lab.')

block content
	-var imgdir = "images/kb/"
	.row
		.large-12.columns
			.panel.radius
				.row
					#kbname
						h3 Kyle Broaders
				.row
					.headshot.medium-4.columns
						
						img.headshot(src= imgdir+'KB.jpg')
						table.vcard
							tr
								td Office: Carr G22A
							tr
								td Lab: Carr G07
							tr
								td (413) 538-3568
							tr
								td
									a(href='mailto:broaders@mtholyoke.edu') broaders@mtholyoke.edu
					.medium-8.columns
						h5 Education and training
						table.tcard
							tr 
								td Training 
								td Year 
								td Institution
								td Research Advisor
							tr 
								td B.A. 
								td 2006 
								td Swarthmore College
								td 
									a(href='http://www.swarthmore.edu/profile/robert-paley') Robert Paley
							tr 
								td Ph.D. 
								td 2011 
								td University of California, Berkeley
								td 
									a(href='http://chem.berkeley.edu/faculty/emeriti/frechet/') Jean Frech&eacute;t
							tr 
								td Postdoc
								td 2014
								td University of California, San Francisco
								td 
									a(href='http://www.gartnerlab.ucsf.edu/') Zev Gartner
						h5 Interests
						p Throughout my studies, I have focused on the interplay between living tissues and their material world. I am interested in using controllable synthetic and polymer chemistry to better understand the relationship between cells and their surroundings. 
						dl.accordion(data-accordion="")
							dd.accordion-navigation-research
								a(href="#panel1").pastresearch &#9654; Undergraduate Research
								#panel1.content
									img.fig(src= imgdir+'atropisomers.gif')
									p.desc During my undergraduate research I synthesized and characterized what I believe to have been the first example of a non-biaryl compound posessing a sp2 C-C axis of asymmetry. This kind axial asymmetry is known as atropisomerism when it is caused by hindered rotation around a single bond, and is known in catalysts like BINAP and SEGPHOS. 
							dd.accordion-navigation-research
								a(href="#panel2") &#9654; Graduate Research
								#panel2.content
									img.fig(src= imgdir+'AcDex.png')
									p.desc During my graduate career I co-invented a class of responsive polymers for therapeutic applications. By modifying a water-soluble polymer like dextran with hydrophobic acetals we created a material that could be fashioned into microparticles, but would be degraded into biocompatible byproducts under the mildly acidic conditions found in lysosomal compartments. This material showed promise for use in protein-based immunotherapy.
									hr
									img.fig(src= imgdir+'OxiDex.png')
									p.desc To complement acid-degradabile material, I also invented a material specifically sensitive to the oxidizing environment found especially in the most potent targeting cells of the immune system.
									hr
									img.fig(src= imgdir+'capsules.png')
									p.desc I also developed a system for drug delivery that featured all-or-nothing burst release kinetics. Capsules with impermeable walls could be stored indefinitely until exposed to even mildly acidic conditions, which would erode the walls and cause rupture.
							dd.accordion-navigation-research
								a(href="#panel3") &#9654; Postdoctoral Research
								#panel3.content
									img.fig(src= imgdir+'topography.png')
									p.desc During my postdoc, I studied the effect of substrate shape on the behavior of microtissues. I found that tissue can sense geometries much larger than any individual cell by integrating physical cues over long distances. Tissues made from cells having mutations known to cause dysregulation of tissue architecture lost the ability to sense and respond to their underlying substrate geometry. This allowed us to identify a pathway involved in tissue dysregulation and gave us insight into how the shape of a tissue informs its behavior. 
									hr
									img.fig(src= imgdir+'syntheticpolarization.png')
									p.desc We also developed a genetically expressable valence for programming cell-cell adhesion as a complement to chemical techniques already used in the lab. Arbitrary intracellular domains could be fused with a coupling domain, which readily covalently binds chemically modified DNA. This provides a handle for programming cell-cell interactions at the same time as manipulating intracellular proteins.
						
			