extends layout


block vars
	-var pageid = "opportunities"

block title
	title Opportunities
	meta(name='description',content='Information on joining the lab')

block content
	.row
		.large-12.columns
			.panel.radius
				h3 Research opportunities
				p I am currently taking applications for students wanting to join during the Spring 2016 semester. If you think that you might be interested, please fill out the form below.
				iframe(src="https://docs.google.com/forms/d/1y194IhX0Y0Nf7vjYnX105jk_olo30Vfb19iZGWuQxU8/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0") Loading...