extends layout

block vars
	-var pageid = "research"

block title
	title Research
	meta(name='description',content='A quick summary of the projects going on in the Broaders lab.')

block content
	-var imgdir = "images/res/"
	.row
		.large-12.columns
			.panel#researchbox
				.row
					.large-12.columns.text-center
						.show-for-medium-up
							img(src= 'images/cycle.jpg')
						.hide-for-medium-up
							img(src= 'images/cycleSmall.jpg')
				.row#researchdescriptions
					.large-offset-1.large-6.columns
						h4 Organic chemistry on biopolymers
						p Polymeric materials have the potential to be tailored to a wide variety of applications. Polysaccharides are especially interesting to to us because of their abundance, biocompatibility, sustainability, and amenability to chemical modification. Using organic chemical techniques, we prepare new materials with controllable properties. These materials may find use in a wide variety of applications, including drug delivery, medical devices, and degradable plastics.
				.row  
					.large-offset-5.large-6.columns
						h4 Responsive materials
						p We are especially interested in materials that can respond to the environments they might encounter in and around biological systems. Because the environmental changes in and surrounding living organisms are often subtle, we are especially interested in making materials that can respond in a nonlinear fashion. Responses may come in the form of changes in material size, solubility, or chemical structure. 
				.row
					.large-offset-1.large-6.columns
						h4 Biological applications
						p The materials we prepare have potential use as carriers for drug delivery, and immunotherapy applications. Because we can tune their properties and responses to their enviornment, delivery can be controlled and adjusted for improved effectiveness. We are also interested in pursuing the promise of modified polysaccharides as scaffolds for cell-culture and informing cellular behaviors.
