extends layout

block vars
	-var pageid = "research"

block title
	title Research
	meta(name='description',content='A quick summary of the projects going on in the Broaders lab.')

block content
	-var imgdir = "images/res/"
	.row
		.large-12.columns
			.panel#researchbox
				.show-for-medium-up
					h3 The interface of materials chemistry and biology
				.show-for-small-only
					h3 The interface of materials chemistry and biology
				.row
					.large-12.columns.text-center
						.show-for-medium-up
							img(src= 'images/cycle.jpg')
						.hide-for-medium-up
							img(src= 'images/cycleSmall.jpg')
				.row
					.large-6.columns
						h4 Biocompatible Responsive Materials
						p Polymeric materials have the potential to be tailored to a wide variety of applications. Using synthetic organic chemical techniques, we are designing materials to interact with or respond to biological systems. Because the environmental changes in and surrounding living organisms are often subtle, we are especially interested in making materials that can respond in a nonlinear fashion. Responses may come in the form of chenges in material size, solubility, or chemical structure. These materials may find use in a wide variety of applications, including drug delivery, medical devices, and degradable plastics.  
					.large-6.columns
						h4 Materials for understanding biology
						p We are interested in learning more about how individual cells sense and respond to the physical cues they recieve from their surroundings. How do cells respond to the shape and chemical nature of their underlying substrata? We are developing chemical tools to prepare precisely controlled environments that will help to answer these questions. The lessons learned from this research may reveal new insight into how multicellular organisms develop and help us to understand the rules for how cells sense, interact with, and respond to their material world. 

